In [1]:
import os
import pandas as pd

In [2]:
old_ranking = pd.read_csv("formatted_data.csv")

In [3]:
old_ranking.head()

,Tool,Model,Accuracy,Correct,Total,Mean Tokens Used,Mean Cost ($)
0,prediction-offline,claude-3-sonnet-20240229,0.756839,249,329,920.598784,0.003374
1,prediction-offline,claude-3-opus-20240229,0.755882,257,340,920.450000,0.016866
2,prediction-request-reasoning,claude-3-sonnet-20240229,0.753125,241,320,2645.509375,0.019255
3,prediction-offline,gpt-4-0125-preview,0.750769,244,325,727.184615,0.008049
4,prediction-offline-sme,gpt-4-0125-preview,0.748485,247,330,1416.848485,0.018169

In [4]:
old_ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tool              30 non-null     object
 1   Model             30 non-null     object
 2   Accuracy          30 non-null     float64
 3   Correct           30 non-null     int64
 4   Total             30 non-null     int64
 5   Mean Tokens Used  30 non-null     float64
 6   Mean Cost ($)     30 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.8+ KB

In [5]:

results_df = pd.read_csv("new_data.csv")

In [8]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tool                9 non-null      object
 1   model               9 non-null      object
 2   accuracy            9 non-null      float64
 3   correct             9 non-null      int64
 4   total               9 non-null      int64
 5   crowd_accuracy      9 non-null      float64
 6   input_tokens_mean   9 non-null      float64
 7   output_tokens_mean  9 non-null      float64
 8   total_tokens_mean   9 non-null      float64
 9   input_cost_mean     9 non-null      float64
 10  output_cost_mean    9 non-null      float64
 11  total_cost_mean     9 non-null      float64
dtypes: float64(8), int64(2), object(2)
memory usage: 996.0+ bytes

In [6]:
fields_to_select = [
            "tool",
            "model",
            "accuracy",
            "correct",
            "total",
            "total_tokens_mean",
            "total_cost_mean"
        ]

In [9]:
filtered_results = results_df[fields_to_select]

In [10]:
new_columns =["Tool","Model","Accuracy","Correct","Total","Mean Tokens Used","Mean Cost ($)"]

filtered_results.rename(columns=dict(zip(fields_to_select, new_columns)), inplace=True)
filtered_results.to_csv("new_data_formatted.csv")

/var/folders/gp/02mb1d514ng739czlxw1lhh00000gn/T/ipykernel_42660/99758327.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_results.rename(columns=dict(zip(fields_to_select, new_columns)), inplace=True)

In [11]:
filtered_results.head()

,Tool,Model,Accuracy,Correct,Total,Mean Tokens Used,Mean Cost ($)
0,prediction-offline,gpt-4o-2024-08-06,0.716418,240,335,732.077612,0.008161
1,prediction-offline-sme,gpt-4o-2024-08-06,0.748521,253,338,1381.372781,0.017382
2,prediction-online,gpt-4o-2024-08-06,0.750742,253,337,2484.083086,0.026884
3,prediction-request-rag,gpt-4o-2024-08-06,0.790997,246,311,2437.675241,0.031401
4,prediction-request-reasoning,gpt-4o-2024-08-06,0.764259,201,263,2408.714829,0.041234

# Generate output dataset

In [12]:
filtered_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tool              9 non-null      object
 1   Model             9 non-null      object
 2   Accuracy          9 non-null      float64
 3   Correct           9 non-null      int64
 4   Total             9 non-null      int64
 5   Mean Tokens Used  9 non-null      float64
 6   Mean Cost ($)     9 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 636.0+ bytes

In [13]:
test = pd.concat([old_ranking, filtered_results], ignore_index=True)

In [14]:
test.head()

,Tool,Model,Accuracy,Correct,Total,Mean Tokens Used,Mean Cost ($)
0,prediction-offline,claude-3-sonnet-20240229,0.756839,249,329,920.598784,0.003374
1,prediction-offline,claude-3-opus-20240229,0.755882,257,340,920.450000,0.016866
2,prediction-request-reasoning,claude-3-sonnet-20240229,0.753125,241,320,2645.509375,0.019255
3,prediction-offline,gpt-4-0125-preview,0.750769,244,325,727.184615,0.008049
4,prediction-offline-sme,gpt-4-0125-preview,0.748485,247,330,1416.848485,0.018169

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tool              39 non-null     object
 1   Model             39 non-null     object
 2   Accuracy          39 non-null     float64
 3   Correct           39 non-null     int64
 4   Total             39 non-null     int64
 5   Mean Tokens Used  39 non-null     float64
 6   Mean Cost ($)     39 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.3+ KB

In [22]:
updated_formatted_data = test.sort_values(by="Accuracy", ascending=False)

In [23]:
updated_formatted_data.head()

,Tool,Model,Accuracy,Correct,Total,Mean Tokens Used,Mean Cost ($)
33,prediction-request-rag,gpt-4o-2024-08-06,0.790997,246,311,2437.675241,0.031401
38,prediction-request-reasoning,claude-3-5-sonnet-20240620,0.783051,231,295,2815.305085,0.020906
34,prediction-request-reasoning,gpt-4o-2024-08-06,0.764259,201,263,2408.714829,0.041234
37,prediction-request-rag,claude-3-5-sonnet-20240620,0.758209,254,335,2893.865672,0.015629
0,prediction-offline,claude-3-sonnet-20240229,0.756839,249,329,920.598784,0.003374

In [24]:
updated_formatted_data.to_csv("formatted_data.csv", index=False)